.container{
    width: 400px;
    margin: 20px auto;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    background-color: #fff;

}
.box{
    width: 400px;
    height: 360px;
    margin: 10px 0;
    border: 0px;
    padding: 20px;
    background-color: #b9dcfa;
    box-sizing: border-box;
}

.content{
    width: 300px;
    height: 260px;
    background-color: #fcfc7a;
    padding: 10px;
    border: 0px;
    margin: 20px;
}
